body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
/* p5 canvas centered */
.p5Canvas {
    display: block;
    margin: auto;
    background: white;
}

header {
    background-color: #111;
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-family: sans-serif;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.dg {
    position: absolute;
    top: 47.5px;
    right: 5px;
}